/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    /* DEFAULT

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }*/
    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */
    .oldie nav a {
        margin: 0 0.7%;
    }

    #info {
        width: 400px;
        min-height: 100px;
    }

}

@media only screen and (min-width: 768px) {

  /* ====================
      WIDE: CSS3 Effects
     ==================== */

    .img-320 {
        display: none;
    }

    .img-768 {
        display: block;
    }

    .section1 > div, .section2 > div, .section3 > div, .aditionalInfo, .bookedBy {
        width: 50%;
    }



    .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */

  /* DEFAULT

  nav {
      float: right;
      width: 38%;
  }*/

  .menu-bar-mobile {
    display: none;
  }

  nav ul {
    display: block !important;
  }

  nav ul li {
    display: inline-block;
    border-bottom: none;
  }




  /* ============
      WIDE: Main
     ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }

    footer div div a:hover {
        background-color: rgba(16, 16, 16, 0.84);
        padding: 1.250em 0.250em;
    }

    footer h2 a:hover {
        color: #ffffff;
    }

}


@media only screen and (min-width: 1140px) {

  /* ===============
      Maximal Width
     =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}


