/* ==========================================================================
   Author's custom styles
   ========================================================================== */

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: none;
}

nav ul li a{
  color: #fff;
  font-size: 22px;
  font-family: sans-serif;
  text-decoration: none;
}

nav ul li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.pull-left {
  float: left;
  display: block;
}

.pull-right {
  float: right;
  display: block;
}

.seccion1 > div {
  width: 50%;
  float: left;
}

.menu-bar-mobile {
  /*background-color: black;*/
  border-bottom: 1px solid #fff;
  overflow: auto;
}

.menu-bar-mobile span {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  display: block;
  padding: 10px;
}

.toggle-btn {
  cursor: pointer;
}

nav {
  float: left;
}

#tfnewsearch {
  float: left;
}